# compiled code
*.py[co]

# notebooks
*.ipynb_checkpoints/

# data
data/TODO/*
data/html/*
data/meta/*
!data/rss_feeds.toml
!data/page_uuids.txt

# dev env
.DS_Store
.vscode/
.python-version

# distribution / packaging
build/
dist/
*.egg-info/
.mypy_cache/

# testing
.cache
.coverage*
.pytest_cache/
