# compiled code
*.py[co]

# notebooks
*.ipynb_checkpoints/

# data
data/html/*.html
data/meta/*.json
data/meta/*.toml

# dev env
.DS_Store
.vscode/
.python-version

# distribution / packaging
build/
dist/
*.egg-info/
.mypy_cache/

# testing
.cache
.coverage*
.pytest_cache/
